<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Credit</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.username %></td>
      <td><%= user.hashed_password %></td>
      <td><%= user.email %></td>
      <td><%= user.credit %></td>
      <td><%=link "Edit", to: parking_path(@conn,:edit, user)%></td>
      <td><%=link "Delete", to: parking_path(@conn,:delete, user), method: :delete %></td>
    </tr>
<% end %>
<%=link("add", to: "parking/new")%>
  </tbody>
</table>