<%= form_for @changeset, parking_path(@conn, :create), fn user -> %>

  <div class="form-group">
    <%= label user, :name, class: "control-label" %>
    <%= text_input user, :name, class: "form-control" %>
    <%= error_tag user,:name%>
  </div>

  <div class="form-group">
    <%= label user, :username, class: "control-label" %>
    <%= text_input user, :username, class: "form-control" %>
    <%= error_tag user,:username%>
  </div>

  <div class="form-group">
    <%= label user, :Password, class: "control-label" %>
    <%= text_input user, :hashed_password, class: "form-control" %>
    <%= error_tag user,:hashed_password%>
  </div>
    <div class="form-group">
    <%= label user, :Email, class: "control-label" %>
    <%= text_input user, :email, class: "form-control" %>
    <%= error_tag user,:email%>
  </div>
    <div class="form-group">
    <%= label user, :Credit, class: "control-label" %>
    <%= text_input user, :credit, class: "form-control" %>
    <%= error_tag user,:credit%>
  </div>
  

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>